.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 38px;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-top: 20%;
  padding: 0 auto;
}
@media all and (min-width: 768px) {
  .header {
    justify-content: space-evenly;
  }
}
.header__title {
  font-size: 3.6rem;
  font-weight: 700;
  font-family: /* $second-font */ "PT Serif" serif;
  letter-spacing: -1px;
}
.header__title::first-letter {
  text-transform: capitalize;
}
.header__subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.header__text {
  font-size: 1.4rem;
  font-weight: 400;
  width: 40ch;
}
