* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color:/*  $white */ #fafafa;
  font-family: /* $main-font */ "Poppins", sans-serif;
  color: black;
}
